

a {
  font-weight: 600;
  color: #314584;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
}
a:focus,
a:hover {
  color: rgba(44, 44, 44, 0.8);
  text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: #314584;
  font-weight: 600;
  letter-spacing: 1px;
}


body {
  color: #314584;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  transition: opacity 1s;
  min-width: 330px;
}

p {
  color: #6E757A;
}



.navbar-light .navbar-toggler {
  color: #314584;
  border: none;
}
.navbar-toggler {
  padding: .5rem 1.2rem .25rem 0rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}



.navbar-light .navbar-nav .nav-link {
  color: #314584;
  font-size: 1.1rem;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #FF3946;
}
.navbar {
  padding: 50px 0 0 0;
}
.navbar-light .navbar-brand {
  margin-right: 10%;
}
.nav-item {
  padding: 0 10px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #FF3946;
}


footer {
  background-color: #314584;
  width: 100%;
  min-height: 200px;
  text-align: center;
  padding: 70px 0px 0px 0px;
}
footer h5{
  color: #fff;
  padding-bottom: 10px;
}
